<div class="container" style="margin: 30px auto;">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center none">

        <a routerLink="create-token-unique-nft" class="item" fxFlex fxFlex.sm fxLayoutAlign="center none">
            <mat-card class="mat-card mat-focus-indicato mat-elevation-z8">
                <mat-card-title class="mat-card-title">Create and mint unique NFTs</mat-card-title>
                <div class="card-divider"></div>
                <mat-card-content class="mat-card-content">Create a unique NFT under a Token Id with 1 or more supplies</mat-card-content>
            </mat-card>
        </a>
        <a routerLink="create-token-multiple-nft" class="item" fxFlex fxFlex.sm fxLayoutAlign="center none">
            <mat-card class="mat-card mat-focus-indicator mat-elevation-z8">
                <mat-card-title class="mat-card-title">Collection</mat-card-title>
                <div class="card-divider"></div>
                <mat-card-content class="mat-card-content">Create a collection and mint NFTs under that token</mat-card-content>
            </mat-card>
        </a>
        <a routerLink="minted-token-logs" class="item" fxFlex fxFlex.sm="100%" fxLayoutAlign="center none">
            <mat-card class="mat-card mat-focus-indicator mat-elevation-z8">
                <mat-card-title class="mat-card-title">Logs</mat-card-title>
                <div class="card-divider"></div>
                <mat-card-content class="mat-card-content">Logs of created tokens and minted NFTs</mat-card-content>
            </mat-card>
        </a>

    </div>
</div>