/* You can add global styles to this file, and also import other style files */


body, html{ height: 100%; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #303030;}
a, a:hover, a:active, a:visited, a:focus { text-decoration:none; }
.mat-tab-body-wrapper{ flex-grow: 1; }

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.full-width {
  width:100%;
}
.text-center {
  text-align: center;
}
.red-snackbar {
  background: #aa0d0d;
  color: #FFFFFF;
}

.item {
  margin: 10px;
}

.item:focus {
  outline: none;
}

.mat-card-title {
  height: 33%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.card-divider {
  width: 40%;
  height: 3px;
  margin: 15px auto;
  background: #3f51b5;
}

.mat-card-content {
  text-align: center;
  margin-bottom: 16px !important;
}
.mat-card {
  width: 100%;
}
.mat-card:hover {
  background: rgba(255,255,255,.04);
}